body, html {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100%;
  }
  
  .d-flex {
    height: 100%;
  }
  
  .content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper .navbar {
    margin-bottom: 20px; /* Space between navbar and content */
  }
  